<div class="col col-4 col-d-12">
  <div class="widget-footer widget-info">
    <div class="logo-footer">
      <a class="logo-footer__link widget-title" href="{{ site.baseurl }}/">
        <svg
          version="1.1"
          id="Layer_1"
          height="60"
          xmlns:v="https://vecta.io/nano"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 81.2 19.86"
          style="enable-background: new 0 0 137.2 19.86"
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: none;
            }
            .st1 {
              font-family: "DMSerifDisplay-Regular";
            }
            .st2 {
              font-size: 10px;
            }
            .st3 {
              fill: #3f3f3f;
            }
            .st4 {
              fill: #7e7e7e;
            }
            .st5 {
              fill: #bdbdbd;
            }
            .st6 {
              fill: #fcfcfc;
            }
          </style>
          <g id="SVGRepo_bgCarrier"></g>
          <g id="SVGRepo_tracerCarrier"></g>
          <g id="SVGRepo_bgCarrier_1_"></g>
          <g id="SVGRepo_tracerCarrier_1_"></g>
          <line class="st0" x1="6.51" y1="15.86" x2="6.51" y2="11.63" />
          <text
            transform="matrix(1 0 0 1 17.3967 13.1722)"
            class="st1 st2 domain-text"
          >
            ProgrammingEra
          </text>
          <g height="100">
            <circle cx="12.18" cy="7.53" r="2.75" class="circle-white" />
            <circle class="st3" cx="9.77" cy="11.95" r="2.37" />
            <circle class="st4" cx="7.7" cy="11.24" r="2" />
            <circle class="st5" cx="5.65" cy="9.74" r="1.62" />
            <circle class="st6" cx="3.27" cy="11.77" r="1.24" />
          </g>
        </svg>
      </a>
    </div>

    {% if site.data.settings.footer_description %}
    <p class="widget-footer__desc">{{site.data.settings.footer_description}}</p>
    {% endif %} {% if site.data.settings.social %}
    <div class="social">
      <ul class="social__list list-reset">
        {% for social in site.data.settings.social %}
        <li class="social__item">
          <a
            class="social__link"
            href="{{social.link}}"
            target="_blank"
            rel="noopener"
            aria-label="{{social.icon | capitalize}} link"
            ><i class="ion ion-logo-{{social.icon}}"></i
          ></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
